body{
    background-color: rgb(72, 71, 71);
    color: antiquewhite;
}

.form-control,
.form-control:focus
{
   background-color:  rgb(177, 168, 168);
}


.jumbo-color{
    background-color: rgb(83, 87, 76);
}